# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Django stuff:
*.log
blog_project.sqlite3

# Environments
.env
env/

# PyCharm
.idea/

# Dev
notes.txt