{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}

  {% include "blog/blog_nav.html" %}

  <div class="row g-5 mt-0">
    <div class="col-md-9">
      <article class="blog-post">
        <p class="blog-post-meta">{{ self.last_published_at | date:"F d, Y" }} by
          <a href="#">{{ self.owner.username }}</a>
          - {{ self.reading_time }} min read
          <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-share-fill"></i></a></p>
        <h2 class="blog-post-title">{{ self.title }}</h2>
        <p>{{ self.body | richtext }}</p>
        <hr>
      </article>


      <h4>Write a comment:</h4>
      {% csrf_token %}
      {{ c_form }}
      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>

      <hr>

      <h4>Comments</h4>
      {% if comments %}
        {% for comment in comments %}
          <strong>{{ comment.author_name }}</strong>
          <p>{{ comment.content }}</p>
          <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
             aria-controls="collapseExample">
            <i class="bi bi-reply"></i>
          </a>
          <div class="collapse" id="collapseExample">
            {{ r_form }}
            <div class="mt-3">
              <button class="btn btn-primary" type="submit">Post</button>
            </div>
          </div>

          <hr>
        {% endfor %}
      {% else %}
        <p>No comments yet...</p>
      {% endif %}

    </div>

    {% include "side_bar.html" %}

  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Share this post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center">
            <a href="#" class="btn btn-outline-info"><i class="bi bi-twitter"></i> Share on Twitter</a>
          </p>
          <p class="text-center">
            <a href="#" class="btn btn-outline-primary"><i class="bi bi-facebook"></i> Share on Facebook</a>
          </p>
          <p class="text-center">
            <a href="#" class="btn btn-outline-secondary"><i class="bi bi-link-45deg"></i> Link</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}