{% extends "base.html" %}
{% load static global_context wagtailcore_tags wagtailimages_tags %}
{% block extracss %}
  <link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="banner">
    {% image self.cover_image fill-1920x350 as cover_image %}
    <img src="{{ cover_image.url }}" alt="{{ self.title }}">
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row g-5 mt-0">
          <div class="col-md-9">
            <article class="blog-post">
              <h2 class="blog-post-title text-center p-3">{{ self.title | title }}</h2>
              <p class="blog-post-meta text-center">{{ self.last_published_at | date:"F d, Y" }} by
                <a href="{{ self.owner.about.url }}">{{ self.owner.first_name }} {{ self.owner.last_name }}</a>
                - {{ self.reading_time }} min read
                <span><a type="button" class="p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-share-fill"></i></a></span>
              </p>
              <p class="mt-5">{{ self.body | richtext }}</p>
            </article>


            <h5 class="sidebar-subtitle text-center">{{ self.comments.count }} Comments</h5>
            {% comment_form %}

          </div>

          {% include "side_bar.html" %}

        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Share this post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-center">
                  <a href="#" class="btn btn-twitter">
                    <i class="bi bi-twitter"></i><span class="px-3">Share on Twitter</span></a>
                </p>
                <p class="text-center">
                  <a href="#" class="btn btn-facebook">
                    <i class="bi bi-facebook"></i><span class="px-3">Share on Facebook</span></a>
                </p>
                <p class="text-center">
                  <button class="btn btn-secondary" onclick="directLinkCopy()">
                    <i class="bi bi-link-45deg"></i><span class="px-3">Direct link</span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
{% endblock %}

{% block extrajs %}

  <script>
      function directLinkCopy() {
          navigator.clipboard.writeText(window.location.href);
          alert("Copied the text: " + url.value);
      }
  </script>
{% endblock %}