body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #e76a87;
}

a:hover {
    color: #e76a87;
    font-weight: bold;
}

.blog-header-logo {
    font-family: 'Prata', serif;
    font-size: 3rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    height: 2.75rem;
    overflow-y: hidden;
    position: relative;
    z-index: 2;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -1px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
}

.nav-scroller .nav a:hover {
    color: #e76a87;
}

@media (min-width: 768px) {
}

.card {
    border-radius: 0;
}

.card-title:hover {
    color: #e76a87;
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.blog-post-meta {
    color: #727272;
    margin-bottom: 1rem;
}

article img {
    display: block;
    margin: 1.5rem auto 2rem auto;
    max-width: 100%;
}

/*
 * Footer
 */
.blog-footer {
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    color: #727272;
    padding: 0.1rem 0;
    text-align: center;
}
