{% load global_context %}

{% for category in blog_categories %}
  {% if category.sub_categories.count == 0 %}
    <li class="nav-item nav-main">
      <a class="p-1 link-nav text-decoration-none"
         href="{% url 'blog:category' category.slug 'all' %}">{{ category.name | upper }}</a>
    </li>

  {% else %}
    <li class="nav-item dropdown">
      <a class="p-1 link-nav text-decoration-none dropdown-toggle" id="blogDropdown" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">{{ category.name | upper }}<i
          class="bi bi-chevron-down dropdown-icon"></i></a>
      <ul class="dropdown-menu" aria-labelledby="blogDropdown">
        {% sub_categories category %}
      </ul>
    </li>

  {% endif %}


{% endfor %}