{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}

  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn me-2">
        <button type="button" class="btn btn-sm btn-secondary"><i class="bi bi-eye"></i> View on site</button>
        <button type="button" class="btn btn-sm btn-success"><i class="bi bi-pencil"></i> Edit Post</button>
        <button type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</button>
      </div>
    </div>
  </div>

  <div class="container-lg">
    <div class="row">
      <div class="col align-self-center">
        <article class="blog-post">
          <p class="blog-post-meta">{{ post.date_published | date:"F d, Y" }} by
            <a href="#">{{ post.author }}</a>
            - {{ post.reading_time }} min read
          </p>
          <h2 class="blog-post-title">{{ post.headline }}</h2>
          <p>{{ post.body | safe }}</p>
          <hr>
        </article>
      </div>
    </div>
  </div>

{% endblock %}