{% extends "dashboard/dashboard_base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
  </div>

  <div class="container-lg">
    <form method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form.media }}
        {{ form | crispy }}

        <div class="float-right mt-3">
          <a class="btn btn-link" href="{% url 'dashboard:post_list' %}">Cancel</a>
          <button class="btn btn-success" type="submit">Publish</button>
        </div>
      </fieldset>
    </form>
  </div>

{% endblock %}