{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extracss %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <!-- Featured carousel -->
  <div id="featuredCarousel" class="carousel slide mt-3" data-bs-ride="carousel" data-bs-interval="15000">
    <div class="carousel-indicators">

      {% for post in featured %}
        <button type="button" data-bs-target="#featuredCarousel" data-bs-slide-to="{{ forloop.counter|add:"-1" }}"
            {% if forloop.counter == 1 %} class="active" {% endif %}aria-current="true"
                aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}

    </div>

    <div class="carousel-inner">

      {% for post in featured %}
        {% image post.cover_image fill-1500x600 as img %}
        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
          <a href="{{ post.url }}"><img src="{{ img.url }}" class="d-block w-100" alt="{{ post.title }}"></a>
          <div class="carousel-caption d-none d-md-block">
            <a href="{{ post.url }}" class="text-white display-4"><h1>{{ post.title }}</h1></a>
            <p>{{ post.summary }}...</p>
          </div>
        </div>
      {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#featuredCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Latest section -->
  <div class="row g-5 mt-1">
    <div class="col-md-9 mb-5">
      <h5 class="sidebar-subtitle text-center text-secondary mb-3"><span>Latest blog posts</span></h5>
      <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for post in all_posts %}
          <div class="col">
            <div class="card">
              {% if post.cover_image %}
                {% image post.cover_image fill-500x350 as img %}
                <a href="{{ post.url }}"><img src="{{ img.url }}" class="card-img-top" alt="{{ post.title }}"></a>
              {% endif %}
              <div class="card-body">
                <h4 class="card-title mt-3"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p class="card-text">{{ post.summary }}...</p>
                <p class="card-text mb-3"><small
                    class="text-muted">{{ post.first_published_at | date:"F d, Y" }}</small>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

    {% include "side_bar.html" %}

  </div>


{% endblock %}
