<!DOCTYPE html>
{% load static global_context %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if title %}
    <title>{{ title }} | BlogProject</title>
  {% else %}
    <title>BlogProject</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


  <!-- Custom styles -->
  <link rel="icon" href="{% static 'img/favicon-16x16.png' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  {% block extracss %}{% endblock %}

</head>

<body>

<!-- Navbar -->
<div class="nav-container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home:index' %}">
        <img src="{% static "img/logo.png" %}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="p-1">
          <a class="p-2" href="#"><i class="bi bi-twitter"></i></a>
          <a class="p-2" href="#"><i class="bi bi-instagram"></i></a>
          <a class="p-2" href="#"><i class="bi bi-pinterest"></i></a>
          <a class="p-2" href="#"><i class="bi bi-facebook"></i></a>
          <a class="p-2" href="#"><i class="bi bi-linkedin"></i></a>
          <a class="p-2" href="#"><i class="bi bi-github"></i></a>
        </div>

        <form class="d-flex" role="search">
          <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
          <a class="p-1 text-decoration-none" type="submit"><i class="bi bi-search"></i></a>
        </form>
      </div>
    </div>
  </nav>


  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item nav-main">
                <a class="p-1 link-nav text-decoration-none" href="{% url 'home:index' %}">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="p-1 link-nav text-decoration-none dropdown-toggle" id="aboutDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">ABOUT<i
                    class="bi bi-chevron-down dropdown-icon"></i></a>
                <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                  {% about_pages %}
                  <li><a class="dropdown-item" href="{% url 'home:contact' %}">Contact</a></li>
                </ul>
              </li>
              {% blog_categories %}
              <li class="nav-item nav-main">
                <a class="p-1 link-nav text-decoration-none" href="{% url 'shop:list' %}">SHOP</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</div>


<!-- Block Content -->
{% block content %}{% endblock %}


<!-- Footer -->
<footer class="blog-footer">
  <div class="container">
    <footer class="mt-auto py-3">
      <div class="row">
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="link-nav p-0">Home</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="link-nav p-0">FAQs</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="link-nav p-0">About</a></li>
          </ul>
        </div>

        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-red" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-3 my-1">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li><a class="p-2 link-nav" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="p-2 link-nav" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="p-2 link-nav" href="#"><i class="bi bi-pinterest"></i></a></li>
          <li><a class="p-2 link-nav" href="#"><i class="bi bi-facebook"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
    $(function () {
        $('a').each(function () {
            if ($(this).prop('href') === window.location.href) {
                $(this).addClass('current');
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
{% block extrajs %}{% endblock %}

</body>

</html>